# ros2
ws_galactic/src/*
!ws_galactic/src/.gitkeep
ws_galactic/build
ws_galactic/install
ws_galactic/log

# pool
repos/ros-galactic/pool/main/*
!repos/ros-galactic/pool/main/.gitkeep

# repos
Packages
Packages.gz
InRelease
Release

# script output
*.deb

# key
*.gpg
*.gpg.private

# vscode
.vscode

# hook
script/on-build-failed.bash
